<section class="Hero" id="Hero">
<div class="left">
  <h1>Gao Campbell</h1>
    <div class="title-container">
      <div>
      <P class="Title">Jr. Full-Stack Developer &nbsp &nbsp|&nbsp &nbsp IMBA</P>
      <ul>
          <li><img src=<%= asset_path('code.png')%> alt="coding"></li>
        </ul>
      </div>
      <p class="bio">I'm Highly passionate about designing, coding and launching products, which is why I chose this career path.</p>
      <a class="cv" href="#">View CV</a>
    </div>

</div>
<div class="right">
  <div class="img"></div>
  
</div>
<div class="links">
  <ul>
    <li><a target="_blank" href="https://github.com/GaoCampbell"><img src=<%= asset_path('github.png')%> alt="Github"></a></li>
    <li><img src="https://cdn-icons-png.flaticon.com/32/1377/1377213.png" alt="Linkedin"></li>
    <li><img src="https://cdn-icons-png.flaticon.com/32/5968/5968830.png" alt="Twitter"></li>
  </ul>
</div>
</section>