<section class="showcase" id="showcase">
<div class="container">
<div class="title">
  <h1>Porfolio</h1>
  <p>Each project is a unique piece of art with countless hours invested.</p>
</div>
<div class="card">
  <div class="img"></div>
  <div class="right">
    <h1 class="pro-title">CheckMe</h1>
    <p>The project involves the creation of a social media clone, which imitates the look and feel of a popular social networking site. The main focus is on the front-end development, utilizing HTML for structuring the content and CSS/SCSS for styling and layout.</p>
    <ul class="tech">
      <li><img src=<%= asset_path('html.png')%> alt="HTML">HTML</li>
      <li><img src=<%= asset_path('sas.png')%> alt="SCSS">SCSS</li>
    </ul>
    <ul class="links">
      <li><a target="_blank" href="https://github.com/GaoCampbell/socialmedia">Code<i class="fa-brands fa-github"></i></a></li>
      <li><a target="_blank" href="https://gaocampbell.github.io/socialmedia/">Live Demo<i class="fa-solid fa-link"></i></a></li>
    </ul>
  </div>
</div>
<div class="card card2">
  <div class="img"></div>
  <div class="right">
    <h1 class="pro-title">CheckMe</h1>
    <p>The project involves the creation of a social media clone, which imitates the look and feel of a popular social networking site. The main focus is on the front-end development, utilizing HTML for structuring the content and CSS/SCSS for styling and layout.</p>
    <ul class="tech">
      <li><img src="https://cdn-icons-png.flaticon.com/512/1051/1051277.png" alt="HTML">HTML</li>
      <li><img src="https://cdn-icons-png.flaticon.com/512/919/919831.png" alt="SCSS">SCSS</li>
    </ul>
    <ul class="links">
      <li><a target="_blank" href="https://github.com/GaoCampbell/socialmedia">Code<i class="fa-brands fa-github"></i></a></li>
      <li><a target="_blank" href="https://gaocampbell.github.io/socialmedia/">Live Demo<i class="fa-solid fa-link"></i></a></li>
    </ul>
  </div>
</div>
</div>
</section>