//Mobile queries reponsive design 480px
@media (max-width:480px) {
    .Hero{   
      flex-direction: column;
      padding: $heromobilepadding;
      height: auto;
      padding-top: 120px;
      
      
      .left{
        order: 2;
        max-width: unset;
        width: 100%;
        margin: unset;
        h1{
          min-width: 0;
          text-align: center;
        }
        .title-container{
          min-width: unset;
          width: 100%;
          div{
            justify-content: center;
            .Title{
              font-size: 18px;
              margin-right: 5px;
            }
            ul{
              display: none;
              li{
                height: 20px;
                width: 20px;
              }
            }
          }
        }
        .bio{
          font-size: 16px!important;
        }
        .cv{
          width: 70%!important;
          margin: 0 auto;
          height: 55px!important;
        }
      }
      .right{
        height: 350px!important;
        margin-bottom: 50px;
        .img{
          height: 100%;
          width: 80%;
        }
      }
      .links{
        display: none;
      }
    }
  }

//mobile querie responsive design 770px
@media (max-width:820px) {
    .Hero{   
      flex-direction: column;
      height: auto;
      justify-content: unset;
      .left{
        order: 2;
        max-width: unset;
        width: 100%;
        margin: unset;
        h1{
          justify-content: center;
          text-align: center;
        }
        .title-container{
          min-width: unset;
          width: 100%;
          div{
            justify-content: center;
            ul{
              li{
                height: 20px;
                width: 20px;
              }
            }
          }
          .bio{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
          }
          .cv{
            width: 70%;
            margin: 0 auto;
            height: 60px;
          }
        }
      }
      .right{
        flex-basis: unset;
        height: 380px!important;
        margin-bottom: 50px;
        .img{
          height: 100%;
          width: 80%;
        }
      }
      .links{
        padding-top: unset;
        height: 100%;
      }
    }
  }
  @media (max-width:1020px) {
    .Hero{   
      height: 100%;
      
      .left{
        h1{
          font-size: 40px;
        }
        .title-container{
          div{
            .Title{
              font-size: 20px;
            }
          }
        }
      }
      .right{
        height: unset;
        
        .img{
          height: 100%;
          width: 70%;
        }
      }
      .links{
        display: none;
      }
    }
  }