<footer>
<div class="links">
  <ul>
    <li><a target="_blank" href="https://github.com/GaoCampbell"><img src=<%= asset_path('github.png')%> alt="Github"></a></li>
    <li><a target="_blank" href="#"><img src="https://cdn-icons-png.flaticon.com/32/1377/1377213.png" alt="Linkedin"></a></li>
    <li><a target="_blank" href="#"><img src="https://cdn-icons-png.flaticon.com/32/5968/5968830.png" alt="Twitter"></a></li>
  </ul>
</div>
<p>Copyright © 2023 ~ All rights reserved | Designed with 💖 by Gao</p>
</footer>