<nav>
  <div class="logo">
    <img src="<%=asset_path('logo.webp')%>" alt="My logo">
  </div>
  <div class="center-links">
    <ul>
      <li><a href="#Hero">Home</a></li>
      <li><a href="#about-me">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#showcase">Showcase</a></li>
    </ul>
  </div>
  <div class="right-links">
    <img class="loc" src="https://cdn-icons-png.flaticon.com/512/7245/7245387.png" alt="Taiwan pin location">
    <p class="loc">Taipei</p>
    <i class="fa-solid fa-bars fa-xl"></i>
  </div>
  <div class="mobile-nav">
      <ul>
        <li class="X"><i class="fa-solid fa-xmark fa-xl"></i></li>
        <li><a  class="li" href="#Hero"><i class="fa-solid fa-house"></i><p>Home</p></a></li>
        <!-- <hr> -->
        <li><a class="li" href="#about-me"><i class="fa-solid fa-address-card"></i><p>About</p></a></li>
        <!-- <hr> -->
        <li><a  class="li" href="#skills"><i class="fa-solid fa-screwdriver-wrench"></i><p>Skills</p></a></li>
        <!-- <hr> -->
        <li><a  class="li" href="#showcase"><i class="fa-solid fa-suitcase"></i><p>Showcase</p></a></li>
      </ul>
    </div>
  

</nav>