<nav>
  <div class="logo">
    <img src="<%=asset_path('logo.png')%>" alt="My logo">
  </div>
  <div class="center-links">
    <ul>
      <li><a href="#Hero">Home</a></li>
      <li><a href="#about-me">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#showcase">Showcase</a></li>
    </ul>
  </div>
  <div class="right-links">
    <img class="loc" src="https://cdn-icons-png.flaticon.com/512/7245/7245387.png" alt="Taiwan pin location">
    <p class="loc">Taipei</p>
    <i class="fa-solid fa-bars fa-xl"></i>
  </div>
  <div class="mobile-nav hidden">
      <ul>
        <li class="X"><i class="fa-solid fa-xmark fa-lg"></i></li>
        <a  class="li" href="#Hero"><li><i class="fa-solid fa-house"></i>Home</li></a>
        <hr>
        <a class="li" href="#about-me"><li><i class="fa-solid fa-address-card"></i>About</li></a>
        <hr>
        <a  class="li" href="#skills"><li><i class="fa-solid fa-screwdriver-wrench"></i></i>Skills</li></a>
        <hr>
        <a  class="li" href="#showcase"><li><i class="fa-solid fa-suitcase"></i>Showcase</li></a>
      </ul>
    </div>
  

</nav>